<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.cacher.snippets</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>114C0047-5550-4978-94BA-B3A14B3CD9C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB482C00-B7EF-4840-881B-1EDB9D059D41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB482C00-B7EF-4840-881B-1EDB9D059D41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A61C761-1100-44C9-A192-D6601FE9A0E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Cacher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AB482C00-B7EF-4840-881B-1EDB9D059D41</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Snippet copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2A61C761-1100-44C9-A192-D6601FE9A0E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>snip</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>From your Cacher library</string>
				<key>title</key>
				<string>Find snippet by keyword</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>114C0047-5550-4978-94BA-B3A14B3CD9C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>114C0047-5550-4978-94BA-B3A14B3CD9C4</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2A61C761-1100-44C9-A192-D6601FE9A0E7</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>AB482C00-B7EF-4840-881B-1EDB9D059D41</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>CACHER_API_KEY</key>
		<string>dsfds</string>
		<key>CACHER_API_TOKEN</key>
		<string>dsfsdffds</string>
	</dict>
	<key>version</key>
	<string></string>
</dict>
</plist>
